In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("train.csv")

In [5]:
df.head()

,qid,question_text,target
0,00002165364db923c7e6,How did Quebec nationalists see their province...,0
1,000032939017120e6e44,"Do you have an adopted dog, how would you enco...",0
2,0000412ca6e4628ce2cf,Why does velocity affect time? Does velocity a...,0
3,000042bf85aa498cd78e,How did Otto von Guericke used the Magdeburg h...,0
4,0000455dfa3e01eae3af,Can I convert montra helicon D to a mountain b...,0

In [6]:
df.shape

(1306122, 3)

In [7]:
df_in = df[df.target == 1]

In [9]:
pd.set_option('max_colwidth', 240)
df_in.sample(10)

,qid,question_text,target
304395,3b9f24212a8cfc537d2b,How do I plagarise answers and still survive on Quora?,1
287746,385a781c59652aff9a23,Why do some women/girls complain when they are so privileged?,1
1140476,df7cf623d3bca909aedc,Why are conservatives so self centred and lacking in empathy towards those less fortunate than themselves (ie. the hardworking poor)?,1
1202416,eba91f44386a75f94e6b,Are Welsh people fully conscious?,1
75412,0ec2f09dede15932bb7d,People In Stores Always Think I'm A Thief Because I Look Black And I Am Fed Up With This Racist Crap why it never happens to Italians?,1
62288,0c3a7ebca53ac98b117a,Why do Turks and Azerbaijanis hate Pakistan?,1
1279839,fad402457330b0f86c65,Why did the British make Mir Jafar the Nawab of Bengal again?,1
777402,9845d08e58e92f9d4c8b,How can the NRA make Americans accept mass-killing business as normal as another car accident?,1
797419,9c4310210e2748cc61eb,Why is Rahul Gandhi an idiot and called Pappu? Why doesn't someone like Shasi Tharoor takes his place?,1
348523,444c300a790927c8c723,When will President Trump's loyal supporters come to realize the President Trump and most of his cabinet are part of the swamp?,1

In [19]:
df.target.value_counts()

0    1225312
1      80810
Name: target, dtype: int64